<div class="row">

    <div class="col-md-12">
      <div class="jumbotron m-0">
        <h1 class="display-4">Best demon girls in animes</h1>
        <p class="lead"> Lorem ipsum suscipit sem semper vestibulum orci nibh gravida torquent per, arcu metus nisl
          nisi justo purus semper porta dictum, conubia rutrum placerat lacinia fames imperdiet aliquet risus
          malesuada. consectetur lorem etiam est eu elit torquent interdum viverra, condimentum sociosqu sodales ante
          non bibendum leo sem placerat, ut non imperdiet.</p>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card-group">
        <div class="card p-2">
          <img src="https://cdn.myanimelist.net/images/characters/8/388684.jpg" class="card-img-top rounded"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Yuuko Yoshida</h5>
            <p class="card-text">A succubus whose power is suddenly awakened in her first year of high school. She
              aims to overthrow the magical girl in town to break her family's spell.</p>
          </div>
        </div>
        <div class="card p-2">
          <img src="https://cdn.myanimelist.net/images/characters/4/159167.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Kneesocks</h5>
            <p class="card-text">The younger of the Demon Sisters. She is an intellectual that uses elaborate traps
              and trickery to fight against angel sisters Panty & Stocking.</p>
          </div>
        </div>
        <div class="card p-2">
          <img src="https://cdn.myanimelist.net/images/characters/15/391918.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Clara Valac</h5>
            <p class="card-text">Clara really likes playing games and has been exiled for her childish antics. Despite
              her care-free nature, she is very powerful.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <ul class="list-group p-0">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Yuuko Yoshida
          <a href="https://myanimelist.net/anime/39071/Machikado_Mazoku" class="badge badge-primary badge-pill"
            target="_blank">Machikado Mazoku</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Kneesocks
          <a href="https://myanimelist.net/anime/8795/Panty___Stocking_with_Garterbelt"
            class="badge badge-primary badge-pill" target="_blank">Panty & Stocking with Garterbelt</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Clara Valac
          <a href="https://myanimelist.net/anime/39196/Mairimashita_Iruma-kun" class="badge badge-primary badge-pill"
            target="_blank">Mairimashita! Iruma-kun</a>
        </li>
      </ul>
    </div>

    <div class="col-md-8 mt-2 offset-md-2">

      <div id="mc_embed_signup">
        <form action="https://herokuapp.us17.list-manage.com/subscribe/post?u=5fb04793b99fa28ee8b5231f8&amp;id=3e0897bc40"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate"
              target="_blank"
              novalidate>

          <h2 class="text-center">Send your list</h2>

          <hr class="pb-1 shadow-sm">

          <div class="indicates-required text-right">
            <span class="text-danger">
              <strong>*</strong>
            </span> Required field</div>

          <div class="form-row">

            <div class="form-group col-md-12">
              <label for="mce-FNAME">
                <span class="text-danger">
                  <strong>*</strong>
                </span>
                Name
              </label>
              <input type="text" name="FNAME" class="required form-control" id="mce-FNAME">
            </div>

            <div class="form-group col-md-12">
              <label for="mce-EMAIL">
                <span class="text-danger">
                  <strong>*</strong>
                </span>
                Your email
              </label>
              <input type="email" name="EMAIL" class="required email form-control" id="mce-EMAIL">
            </div>

            <div class="form-group col-md-4">
              <label for="mce-MMERGE2">
                <span class="text-danger">
                  <strong>*</strong>
                </span>
                Girl One
              </label>
              <input type="text" name="MMERGE2" class="required form-control" id="mce-MMERGE2" placeholder="Girl (anime name)">
            </div>

            <div class="form-group col-md-4">
              <label for="mce-MMERGE6">
                <span class="text-danger">
                  <strong>*</strong>
                </span>
                Girl two
              </label>
              <input type="text" name="MMERGE6" class="required form-control" id="mce-MMERGE6" placeholder="Girl (anime name)">
            </div>

            <div class="form-group col-md-4">
              <label for="mce-MMERGE3">
                <span class="text-danger">
                  <strong>*</strong>
                </span>
                Girl three
              </label>
              <input type="text" name="MMERGE3" class="required form-control" id="mce-MMERGE3" placeholder="Girl (anime name)">
            </div>
            
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_5fb04793b99fa28ee8b5231f8_3e0897bc40" tabindex="-1" value="">
            </div>

            <div class="form-group col-md-12 d-flex justify-content-center">
              <div class="">
                <input type="submit" value="Send!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
              </div>
              
            </div>

          </div>
        </form>
      </div>


    </div>

  </div>